<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <link rel="stylesheet" href="{{"/assets/css/font-awesome.min.css"  | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{"/assets/css/custom.css"  | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{"/assets/css/main.css"  | prepend: site.baseurl}}">
    <link rel="icon" href="https://ssl.gstatic.com/atari/images/favicon_2.ico"/><meta property="og:type" content="website"/>
    <script src="{{"/assets/js/jquery.min.js"  | prepend: site.baseurl}}"></script>
    <script src="{{"/assets/js/jquery.scrolly.min.js"  | prepend: site.baseurl}}"></script>
    <script src="{{"/assets/js/util.js"  | prepend: site.baseurl}}"></script>
    <script src="{{"/assets/js/skel.min.js"  | prepend: site.baseurl}}"></script>
    <script src="{{"/assets/js/main.js"  | prepend: site.baseurl}}"></script>    
    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
</head>