<div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>  
    <div class="img-menu">
        <img src="{{ "/assets/fonts/HSRTech_RGB_Cor-white.svg" | prepend: site.baseurl}}" alt="" class="logo logo-svg logo-menu">				
    </div> 
    <input type="text" id="myInput" onkeyup="searchNav()" placeholder="Pesquisar..." title="Type in a name">
    <div id="menuList">
        {% for post in site.posts %}            
                <a href="{{ site.baseurl }}{{ post.url }}" class="options">{{ post.title }}</a>            
        {% endfor %}
    </div>
</div>  